
/* Common Styles  */
h1 {
    color: #0084FF;
    background-color: #EFF4FC;
}

body {
    margin: 0px;
    font-family: 'Outfit','Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}

p,
td {
    color: grey;
}

/* Header Styling */
#logo-cues-container {
    background-color: #0084FF;
    text-align: center;
}

#logo-cues-container img {
    width: 12%;
    color: white;

}


/* Article Styling */
article{
    overflow: auto;
}
table {
    width: 100%;
}

th,
td {
    padding: 13px;
}

td {
    font-size: 13px;
    text-align: center;

}

th {
    background-color: #EFF4FC;
    text-align: center;
    font-size: 14px;

}

.amount {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    
}

article div p {
    text-align: center;
}
.postive{
    color: green;
    font-size: 13px;
    margin-right: 2px;
    margin-top: 1px;
    display: inline-block;
}
.negative{
    color: red;
    font-size: 13px;
    margin-right: 2px;
    display: inline-block;
}
.positive-transction-amount{
    color: green;
    display: inline-block;
    text-align: start;
    font-size: 13px;
}
.negative-transction-amount{
    color: red;
    display: inline-block;
    text-align: start;
    font-size: 13px;
}

/* Footer Styling */
footer {
    background-color: #10214A;
}

#footer-container {
    padding: 2rem 4rem;
}

#download {
    font-size: 2rem;
    margin-top: 0px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 13px;
}

#app-play-container {
    text-align: center;
}

#app-play-container a {
    width: 10rem;
    display: inline-block;
}

#apple_anchor {
    margin-right: 10px;
}

#app-play-container img {
    width: 100%
}

hr {
    height: 1px;
    background-color: #EFF4FC;
    border: none;
    margin: 2rem 0;
}


#unsubscribe {
    color: #1076f1;
}

/* Responsiveness */

@media only screen and (max-width: 1024px) {
    th{
        padding: 14px;
        font-size: 14px;
    }
    td,.postive,.positive-transction-amount,.negative,.negative-transction-amount{
        font-size: 13px;
    }

}
@media only screen and (max-width: 768px) {
    #about-cues {
        text-align: start;
    }
    .amount-td{
        padding: 10px;
    }
    th{
        font-size: 12px;
    }
    td,.postive,.positive-transction-amount,.negative,.negative-transction-amount{
        font-size: 11px;
    }
    footer p {
        font-size: 11px;
    }
    #download{
        font-size: 1.5rem;
    }
    #app-play-container a{
        width: 21%;
    }

   
}

@media only screen and (max-width: 426px) {
    #app-play-container a {
        width: 7rem;
        display: inline-block;
    }
    th{
        font-size: 10px;
    }
    td,.postive,.positive-transction-amount,.negative,.negative-transction-amount{
        font-size: 9px;
    }

}

